In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
players = pd.read_csv('Players.csv')
teams = pd.read_csv('Teams.csv')

In [3]:
players.head()

     surname     team    position  minutes  shots  passes  tackles  saves
0     Abdoun  Algeria  midfielder       16      0       6        0      0
1    Belhadj  Algeria    defender      270      1     146        8      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
3  Bougherra  Algeria    defender      270      1      89       11      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2

In [4]:
teams.head()

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0
2,Portugal,3,4,1,2,1,7,1,8,1
3,Netherlands,4,6,6,0,0,12,5,15,0
4,Italy,5,3,0,2,1,4,5,5,0

In [7]:
players['position'].value_counts()

midfielder    228
defender      188
forward       143
goalkeeper     36
Name: position, dtype: int64

**Exercise 1:**

Create a bar chart showing the average number of minutes 
played by players in each of the four positions